<form (ngSubmit)="onSubmit()" #registerForm="ngForm">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="user.name" name="name" required>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="user.email" name="email" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="user.password" name="password" required>
  </div>
  <button type="submit">Register</button>
</form>

